useDynLib(smashtpx)
import(SQUAREM)
import(slam)
import(ashr)
import(smashr)

export(stm_tfidf,
       smash.normalizetpx,
       rdir,
       smash.topics,
       smash.tpxEM,
       smash.tpxlpost,
       smash.tpxlpost_squarem,
       smooth.lambda.poiss,
       CheckCounts,
       smash.tpxweights,
       smash.tpxinit,
       smash.tpxQN,
       smash.tpxOmegaStart,
       smash.tpxQ,
       smash.tpxMixQ)

importFrom("stats", "kmeans", "pchisq", "rgamma", "sd")

