useDynLib(smashtpx)
import(SQUAREM)
import(boot)
import(slam)

export(stm_tfidf,
       smash.normalizetpx,
       rdir,
       smash.topics,
       smash.tpxlpost,
       CheckCounts,
       smash.tpxfit,
       smash.tpxweights,
       smash.tpxQN,
       smash.tpxOmegaStart,
       smash.tpxQ,
       smash.tpxMixQ)
